#Dev DB
DATABASE_URL=

#Tournament service DB
TOURNAMENT_DATABASE_URL=
TOURNAMENT_POSTGRES_DB=
TOURNAMENT_POSTGRES_USER=
TOURNAMENT_POSTGRES_PASSWORD=
WEBHOOK_SHARED_SECRET=

#Redis
REDIS_URL=

#Emails service
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
EMAILS_SERVICE_URL=

#Jwt
JWT_SECRET=
JWT_ALGORITHM=
JWT_EXPIRES_MINUTES=
JWT_ISSUER=

#ELK Stack
ELASTIC_PASSWORD=
ELASTICSEARCH_PASSWORD=
XPACK_SECURITY_ENCRYPTIONKEY=
XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY=
XPACK_REPORTING_ENCRYPTIONKEY=
